.pre-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #ffffff;
	justify-content: center;
	display: flex;

	transition: all 0.5s ease;
}

.pre-loader.active {
    top: 7%;
    left: 80px;
    width: 122px;
    height: 145px;
}

.pre-loader .logo {
	align-self: center;
}

.bn-txt {
	animation: bannerText 1s 1s ease forwards;
}

@media screen and (max-width: 768px) {
	.bn-txt {
		animation: bannerTextMob 1s 1s ease forwards;
	}
}

@-webkit-keyframes bannerTextMob {
    0% {
    	top: 30%;
    	opacity: 0;
    }

    100%{
    	top: 35%;
    	opacity: 1;
    }
}

@-webkit-keyframes bannerText {
    0% {
    	top: 42%;
    	opacity: 0;
    }

    100%{
    	top: 52%;
    	opacity: 1;
    }
}

.bt-nav {
	animation: bottomNav 0.5s 1.5s ease forwards;
}

@-webkit-keyframes bottomNav {
    0% {
    	bottom: -150px;
    	opacity: 0;
    }

    100%{
    	bottom: 0;
    	opacity: 1;
    }
}

.an-box-1 {
	left: -20%;	
	transition: all 0.5s ease;
	opacity: 0;
}

section.active .an-box-1 {
	left: 0%;
	opacity: 1;
}

.an-box-2 {
	right: -20%;
	transition: all 0.5s ease;
	opacity: 0;
}

section.active .an-box-2 {
	right: 0;
	opacity: 1;
}