@media screen and (min-width: 1441px) {
	.nature-sec .lab-sec {
		padding: 80px;
	}
}

@media screen and (max-width: 1440px) and (min-width: 1366px) {
	.des-pic {
		top: -120px;
	    right: -6%;
	    height: 510px;
	}

	.alumni-sec .al-sec.first {
		width: 29%;
	}
}

@media screen and (max-width: 1440px) {
	.acad-sec .bg-sec {
		padding-bottom: 80px;
	}

	.pg-ttl {
	    font-size: 54px;
	}

	.pg-ttl2 {
		font-size: 38px;
	}

	.bt-nav ul li a {
		font-size: 16px;
	}

	.tp-nav {
	    top: 5%;
	    padding: 0 30px;
	}

	.academia-sec,
	.edu-sec,
	.camp-st-sec {
		padding: 0 30px;
	}

	.card-sec.overlay {
		right: 30px;
	}

	.training-sec .card-sec.overlay {
		right: initial;
	}

	.bn-sec {
	    margin-bottom: 50px;
	}

	.design-sec .card-sec {
		padding: 0;
	}

	/* Play Button */
	/*.play-btn {
	    font-size: 1.6vh;
	}

	.ol-box h3 {
		font-size: 2.7vh;
	}*/

	.ol-box {
		padding: 10px 20px 25px 40px;
	}

	.card-sec a, .box-sec a {
		font-size: 18px;
	}

	.footer {
		padding: 40px 30px 20px 30px;
	}

	.footer ul li {
	    padding-right: 10%;
	}

	.para {
		max-width: 100% !important;
	}
}

@media screen and (max-width: 1024px) {
	.pg-ttl {
	    font-size: 46px;
	}

	.ol-box {
		/*padding: 0 10px 10px;*/
	}

	.card-sec a, .box-sec a {
		font-size: 16px;
	}

	.fx-bx {
		margin-right: 20px;
		flex: 2;
	}

	.nature-sec .box-sec {
		top: 61%;
    	right: 6%;
    	left: inherit;
	}

	.nature-sec .card-sec {
		padding: 0;
	}

	.nature-sec .lab-sec {
		padding: 30px;
	}

	.footer {
		padding: 40px 50px 20px 30px;
	}

	.smm-sec {
		padding: 0;
		margin: 0 0 20px;
	}

	.ft-logo {
		text-align: right;
		margin-top: 40px;
	}

	.bg-sec {
		padding-left: 40px;
	}

	.design-sec .bg-sec {
		margin-top: 50px;
	}

	.awards-sec .bg-sec,
	.awards-sec .card-sec {
		padding: 0;
	}

	.acad-sec .box-sec {
		position: initial;
		margin-top: 16px;
	}

	.camp-st-sec p {
		max-width: 100%;
	}

	.aca-sec .bg-sec {
	    padding: 80px 0 260px 80px;
	}
}


@media screen and (max-width: 768px) {
	.bn-txt p,
	.camp-st-sec p {
		font-size: 18px;
	}

	.card-sec p, .box-sec p {
	    font-size: 18px;
	    margin: 20px 0;
	    max-width: 100%;
	}

	.logo img {
		width: 94px;
	}

	.lg-link {
	    padding: 34px 0;
	}

	.pg-ttl3 {
	    font-size: 34px;
	}

	.bn-txt {
		top: 35%;
    	left: 0;
    	transform: translate(0,0);
    	padding: 0 30px;
	}

	.card-sec.overlay {
		position: initial;
	    padding: 30px;
	    margin-right: 0;
	}

	.academia-sec, .edu-sec, .camp-st-sec {
		padding: 0 0 15px;
	}

	.card-sec a, .box-sec a {
	    font-size: 13px;
	    letter-spacing: 2px;
	}

	.bg-sec {
	    padding: 0;
        margin: 0 !important;
	}

	.des-pic {
	    position: initial;
    	width: 100%;
    	background: url(../image/Design-Thinking-mob.jpg) no-repeat left top / 100%;
	}

	.edu-sec .fx-bx {
		margin: 0;
	}

	.in-pg .nature-sec .box-sec {
		position: relative;
    	left: 0;
	}

	.in-pg .nature-sec .bg-sec {
		padding-bottom: 50px;
	}

	.nature-sec .box-sec {
		position: relative;
		right: 0;
	}

	.nature-sec .bg-sec {
		padding: 0px;
	}

	#education .fx-bx:first-child {
		order: 2;
		padding: 30px;
	}

	#education .fx-bx:last-child {
		order: 1;
	}

	.box-sec,
	.awards-sec .card-sec {
		flex-direction: column;
	    margin: 0;
	    padding: 0;
	}

	.edu-sec .bg-sec,
	.nature-sec.ws-sec .bg-sec {
		background: transparent;
	}

	.academia-sec .card-sec,
	.edu-sec .bg-sec .box-sec,
	.awards-sec .bg-sec .card-sec,
	.design-sec .card-sec,
	.nature-sec .lab-sec {
	    box-shadow: 0 4px 12px #e3e3e3;
	}

	.design-sec .card-sec .va-sec,
	.award-card-sec,
	.alumni-sec .al-sec {
	    padding: 30px;
	}

	.alumni-sec .bg-sec {
		padding: 0;
	}

	.speaker-sec {
		margin-bottom: 40px;
	}

	.footer p,
	.ft-logo {
	    text-align: left;
	}

	.footer {
		padding: 30px;
	}

	.scroll-icon {
		transform: scale(0.8);
    	transform-origin: left;
	}

	.scroll-icon img {
		margin-top: 40px;
	}

	.pd-lt-60 {
		padding-left: 15px;
		margin-top: 30px;
	}

	.link-lbl {
		display: block;
	}

	.expand-lbl {
		position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	}

	.expand-lbl strong {
		font-size: 15px;
		box-shadow: 0 0 17px #ccc;
	    padding: 6px 0px 6px 14px;
	    text-align: center;
	    background: #fff;
	}

	.down-arrow-s {
		background-position: 0px 7px;
	    background-size: 12px;
	    margin: 0;
	}

	.acad-sec .bg-sec {
		padding: 0px;
	}

	.acad-sec .card-sec {
		padding: 30px;
	}

	.ac-pg .bn-sec,
	.wc-pg .bn-sec {
	    margin-bottom: 0px;
	}

	.mob {
		display: block;
	}

	.desk {
		display: none;
	}

	.pg-ttl {
		text-align: center;
	}

	.bn-sec .pg-ttl {
		text-align: left;
	}

	.nature-sec .pg-ttl {
		position: initial;
		color: #000000;
	}

	.camp-st-sec {
	    margin-bottom: 70px;
	}

	.bn-sec {
	    background-image: url(../image/home-bn-m.jpg);
	}

	.ac-pg .bn-sec {
	    background-image: url(../image/academia-bn-m.jpg);
	}

	.dt-pg .bn-sec {
	    background-image: url(../image/Design-Thinking-bn-m.png);
	}

	.wc-pg .bn-sec {
	    background-image: url(../image/Wellness-Sports-bn-m.jpg);
	}

	.academia-sec .fig-sec {
		background-image: url(../image/academia-m.jpg);
	}

	.sports-sec .fig-sec {
		background-image: url(../image/wellness-sports-m.jpg);
	}

	.loud-sec .fig-sec {
	    background-image: url(../image/Loud-Thinking-m.png);
	}

	.training-sec .fig-sec {
	    background-image: url(../image/Teacher-Training-m.jpg);
	}

	.fig-sec {
		height: 300px;
	}

	.awards-sec .bg-sec {
		display: flex;
		flex-direction: column;
	}

	.awards-sec .card-sec,
	.awards-sec .box-sec {
		flex: 1;
	}

	.awards-sec .card-sec {
		order: 2;
	}

	.awards-sec .box-sec {
		order: 1;
	}

	.admission-sec .tab-content {
		padding: 0;
	}

	.admission-sec .nav-tabs>li,
	.admission-sec .nav-tabs>li a {
		width: 100%;
	}

	.research-box .fx-bx.big {
		padding: 20px 30px;
		order: 2;
	}

	.research-box .fx-bx:last-child {
		order: 1;
	}

	.adm-box {
	    padding: 40px 20px;
	}				

}

@media screen and (max-width: 767px) {
	.innovations-section .pd-lt-60 {
		margin-top: 0px;
		background: #F4FFF3;
	}
	.innovations-nav {
	    margin-bottom: 20px;
	    overflow: hidden;		
	}
	.innovations-nav a {
		padding-left: 0px;
	}
	.innovations-nav a:first-child {
		float: left;
	}
	.innovations-nav a:last-child {
		float: right;
	}
	.innovations-nav a span {
	    border-radius: 100%;
	}
	.admission-sec .tab-content>.tab-pane {
		display: block;
		opacity: 1;
	}
	.pg-ttl3-mob {
		margin-top: 20px;
	}
	.expand-btn {
		display: none;
	}
	.expan-hidden {
		display: block;
	}
}

@media screen and (max-width: 667px) {
	.des-pic {
	    height: 324px;
	}	
}