*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Tinos', serif;
	font-size: 24px;
}

.in-pg {
	overflow: hidden;
}

.no-pd {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.pd-lt-60 {
	padding-left: 60px;
}

.mt-tp-0 {
	margin-top: 0 !important;
}

.bn-sec {
	background-image: url(../image/home-bn.jpg);
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	margin-bottom: 140px;
	overflow: hidden;
}

.bn-sec .pg-ttl {
	color: #fff;
}

.dt-pg .bn-sec {
	background-image: url(../image/Design-Thinking-bn.jpg);
}

.ac-pg .bn-sec {
	background-image: url(../image/academia-bn.jpg);
}

.wc-pg .bn-sec {
	background-image: url(../image/Wellness-Sports-bn.jpg);
}

.pg-ttl,
.pg-ttl2,
.pg-ttl3,
.pg-ttl4 {
	font-family: 'Cormorant', serif;
	font-style: italic;
	margin: 0 0 20px 0;
	color: #000000;
}

.pg-ttl {
	font-size: 74px;
}

.pg-ttl2 {
	font-size: 64px;
}

.pg-ttl3 {
	font-size: 44px;
}

.pg-ttl4 {
	font-size: 30px;
}

.logo {
    display: inline-block;
}

.logo img,
.ft-logo img {
	width: 122px;
}

/* Menu */
.tp-nav {
	position: absolute;
	top: 7%;
	left: 0%;
	width: 100%;
    padding: 0 80px;
}

.lg-link {
	font-size: 21px;
	text-transform: uppercase;
	display: inline-block;
    padding: 52px 0;
}

.lg-link a {
	color: #ffffff;
	letter-spacing: 3px;
	margin-left: 80px;
}

.login-icon,
.left-arrow,
.colse-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
    position: relative;
    top: 8px;
    margin-left: 6px;
}

.login-icon {
	background: url(../image/login.svg) no-repeat;
}

.left-arrow {
	background: url(../image/left-arrow.svg) no-repeat;
	-moz-filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
    top: 16px;
}

.colse-btn {
	background: url(../image/close.svg) no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}

.bn-txt {
	margin: auto;
    float: none;
    color: #ffffff;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.dt-pg .bn-txt,
.ac-pg .bn-txt,
.wc-pg .bn-txt {
	top: 66%;
}

.bn-txt p {
	max-width: 90%;
	margin-left: 20px;
}

.explore-icon {
	color: #ffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 21px;
	margin-top: 30px;
    display: block;
}

.video-icon,
.goto-icon {
	display: block;
	width: 64px;
	height: 64px;
    position: relative;
    top: 8px;
    margin: 0 auto 20px;
}

.video-icon {
	background: url(../image/video.svg) no-repeat;
}

.goto-icon {
	background: url(../image/goto.svg) no-repeat;
}

.bt-nav.fixed {
	position: fixed;
    bottom: initial;
    top: 0;
    left: 0;
    height: 68px;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    overflow: hidden;
}

.bt-nav.fixed ul li a {
    padding: 20px 0;
}

.bt-nav {
	position: absolute;
	left: 0;
	bottom: -150px;
	z-index: 9;
	width: 100%;
}

.bt-nav ul {
	margin: auto;
	overflow: auto;
	float: none;
}

.bt-nav ul li {
	display: inline-block;
	float: left;
	padding: 0;
	text-align: center;
}

.bt-nav ul li a {
	background: #ffffff;
	font-size: 20px;
	padding: 40px 0px;
	display: inline-block;
	position: relative;
	width: 100%;

	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bt-nav ul li a:hover {
	background: #f2f2f2;
}

.bt-nav ul li.active a {
	background: #ECFAFF;
}

.bt-nav ul li.active a:after {
	display: none;
}

.bt-nav ul li a:after {
	content: "";
	width: 1px;
	height: 50%;
	position: absolute;
	top: 0;
	right: 0;
	background: #dadada;
}

.bt-nav ul li.active a:before {
	content: "";
	height: 8px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: #00A450;
}

/* */
.academia-sec,
.edu-sec,
.camp-st-sec,
.admission-sec {
	padding: 0 80px;
	margin-bottom: 40px;
	position: relative;
    overflow: hidden;
}

.bg-sec {
	background: #F4FFF3;
	float: left;
    width: 100%;
    box-sizing: border-box;
	padding: 80px 0 80px 80px;
}

.no-bg {
	background: transparent;
}

.awards-sec .bg-sec {
	background: transparent;
}

.academia-sec .fig-sec {
	background-image: url(../image/academia.jpg);
}

.sports-sec .fig-sec {
	background-image: url(../image/wellness-sports.jpg);
}

.loud-sec .fig-sec {
	background-image: url(../image/Loud-Thinking.jpg);
}

.training-sec .fig-sec {
	background-image: url(../image/Teacher-Training.jpg);
}

.fig-sec {
	height: 650px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fig-sec h1 {
	position: absolute;
	bottom: 40px;
	left: 60px;
	color: #ffffff;
}

.fig-sec.pull-right h1 {
	bottom: initial;
	top: 40px;
	left: initial;
	right: 60px;
}

.card-sec {
    padding: 60px 4%;
    color: #000000;
}

.card-sec.overlay {
	background: #F9F8E8;
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-right: 80px;
}

.card-sec p,
.box-sec p {
	margin: 30px 20px;
	font-size: 22px;
}

.card-sec a,
.box-sec a {
	color: #00A450;
	font-size: 20px;
	border-left: 12px solid #00A450;
	padding-left: 12px;
	margin-top: 20px;
	letter-spacing: 3px;
	display: inline-block;
	line-height: 18px;
	text-transform: uppercase;
}

.box-sec {
	color: #000000;
	margin-top: 10%;
}

.pics-sec,
.box-sec {
	display: flex;
	position: relative;
}

.box-sec p {
	max-width: 90%;
}

.para {
	max-width: 80% !important;
}

.camp-st-sec p {
	max-width: 72%;
}

.fx-bx {
	flex: 1;
	align-self: center;
	margin-right: 40px;
	position: relative;
	width: 100%;
}

.fx-bx.big {
	flex: 2;
}

.fx-bx:last-child {
    margin: 0;
}

.fx-bx img,
.box-sec img {
	width: 100%;
}

/* Overlay */
.ol-box {
	position: absolute;
	bottom: 15px;
	left: 0;
	background-image: linear-gradient(to left, #81cfa5, #79bca4, #79a89e, #7c9492, #7f8080);
	color: #ffffff;
	padding: 10px 30px 25px 60px;
	text-align: right;
}

.ol-box.blue {
	background-image: linear-gradient(to left, #84afd3, #7da5bb, #7c9aa4, #7d8d90, #7f8080);
}

.ol-box.right {
	left: initial;
	right: 0;
}

.ol-box .video-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
    margin: 4px 4px 4px 6px;
}

.goto-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
    margin: 6px 4px 6px 6px;
}

.ol-box .video-icon {
	background: url(../image/video-2.svg) no-repeat;
}

.play-btn {
	font-size: 1.8vh;
	letter-spacing: 3px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.ol-box h3 {
	font-family: 'Cormorant', serif;
	font-style: italic;	
	font-size: 3.4vh;
	border-bottom: 4px solid #CCDB29;
    padding-bottom: 8px;
    display: inline-block;
}

.sports-sec .card-sec {
	background: #ECFAFF;
}

.design-sec .bg-sec {
	background: #fff1f3;
	margin-top: 150px;
}

.loud-sec .card-sec,
.training-sec .card-sec {
	background: #fff1f3;
}

.des-pic {
	background: url(../image/Design-Thinking.png) no-repeat left top / 140%;
    background-size: cover;
    position: absolute;
    top: -120px;
    right: -6%;
    z-index: 1;
    height: 610px;
    width: 60%;
}

.des-pic .pg-ttl {
	position: absolute;
    bottom: 18%;
    left: 11%;
    z-index: 3;
    color: #ffffff;
}

.awards-sec .box-sec {
	margin-top: 0;
}

.awards-sec .card-sec {
	padding-bottom: 0;
	display: flex;
}

.award-card-sec {
	background: #FFF5FF;
	padding: 100px 80px 80px;
	position: relative;
}

.laurel-icon {
	position: absolute;
	top: 40px;
	right: 14%;
}

.laurel-icon img {
	width: 100px
}

.nature-sec.ws-sec .bg-sec {
	background: url(../image/Pongal-Canvas.jpg) no-repeat;
}

.nature-sec.ws-sec .lab-sec {
	background: #FCF2E7;
}

.nature-sec .bg-sec {
	background: url(../image/Nature-Lab.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.nature-sec .lab-sec {
	background: #ECFAFF;
	padding: 40px;
	position: relative;
    z-index: 1;
}

.in-pg .nature-sec .bg-sec {
    padding-bottom: 300px;
}

.in-pg .nature-sec .box-sec {
    position: absolute;
    bottom: -27%;
    left: 44%;
    z-index: 0;
}

.nature-sec .box-sec {
	position: absolute;
    bottom: 20%;
    left: 50%;
    z-index: 0;
}

.nature-sec .pg-ttl {
	color: #ffffff;
    position: absolute;
    top: -120px;
    right: 0;
}

.alumni-sec .card-sec {
	padding: 0;
}

.alumni-sec .bg-sec {
	background: transparent;
	padding: 80px;
}

.alumni-sec .al-sec {
	background: #F9F8E8;
	padding: 50px;
    margin-bottom: 20px;
}

.alumni-sec .al-sec img {
	margin: auto;
}

.alumni-sec .al-sec h4 {
	margin-top: 20px;
}

.admission-sec {
	padding: 15px;
}

.admission-sec {
	margin-bottom: 100px;
	overflow: hidden;
}

.expand-btn {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
}

.expand-lbl strong {
	font-weight: normal;
}

.down-arrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	  
	border-top: 10px solid #000000;
	display: block;
	margin: 10px auto;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;	
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(10px);
  }
}

/* Footer */
.footer {
	background: #000000;
	color: #ffffff;
	overflow: hidden;
	padding: 40px 150px 20px 150px;
	font-size: 20px;
}

.footer a {
	color: #ffffff;
}

.footer ul li {
	display: inline-block;
	padding-right: 13%;
    margin-bottom: 40px;
}

.smm-sec {
	margin-top: 120px;
	overflow: hidden;
	padding-left: 60px;
}

.smm-sec a {
	display: inline-block;
	margin-right: 30px;
}

.copy-right {
	margin-top: 60px;
}

.scroll-icon {
	font-family: 'Cormorant', serif;
	font-style: italic;	
	float: left;
    text-align: left;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;    
}

.scroll-icon img {
	transform: rotate(90deg);
	display: block;
	margin: 80px 0 20px 0;
	-moz-filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.camp-st-sec p {
	font-size: 21px;
	margin: 40px 20px;
}

.link-lbl {
	letter-spacing: 3px;
	font-size: 21px;
	margin-top: 30px;
	margin-right: 40px;
}

.author-tag {
	font-family: 'Cormorant', serif;
	font-style: italic;
	font-size: 30px;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 50px;
}

.camp-st-sec {
	margin-bottom: 120px;
}

.ol-box.rt-sd {
	right: 0px;
	left: initial;
	top: 20px;
	bottom: initial;
}

.view-btn {
	font-family: 'Cormorant', serif;
	font-style: italic;
	font-size: 21px;
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 8%;
	text-align: right;
}

.camp-st-sec .left-arrow {
	filter: inherit;
    left: -24px;
}

.acad-sec .bg-sec {
	background: #F9F8E8;
	padding-top: 140px;
	padding-bottom: 300px;
}

.acad-sec .acad-box {
	padding: 0;
}

.aca-sec .lab-sec {
	background: #F4FFF3;
}

.acad-sec .box-sec {
    position: absolute;
    bottom: -220px;
    left: -20%;
    z-index: 0;
}

.acad-sec .box-sec .ol-box {
	bottom: 40px;
    top: inherit;
}

.acad-sec .ol-box h3 {
	font-size: 26px;
	border-color: #50B948;
}

.acad-sec .ol-box h5 {
	font-size: 20px;
	margin-top: 10px;
}

.aca-sec .bg-sec {
	padding: 40px 0 80px 80px;
}

.aca-sec .box-sec {
    left: 50%;
}

.well-sec .bg-sec {
	background: #ECFAFF;
}

.down-arrow-s,
.forward-arrow-s {
	display: inline-block;
	width: 32px;
	height: 20px;
    position: relative;
    top: 4px;
    margin-left: 6px;
    background-position: 0px 10px;
    background-repeat: no-repeat;
}

.down-arrow-s {
	background-image: url(../image/Down-Arrow.svg);
	background-position: 0 4px;
}

.forward-arrow-s {
	background-image: url(../image/Forward-Arrow.svg);
	background-position: 0px 0;
}

.menu-icon,
.menu-icon:after {
	width: 32px;
	height: 2px;
	background: #ffffff;
	display: inline-block;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
	line-height: 10px;
    top: 5px;
}

.menu-icon:after {
	content: "";
}

.menu-sec {
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	z-index: 9;
	height: 96%;
	width: 100%;
	top: -150%;
	font-size: 18px;
	text-align: center;

	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu-sec.active {
	top: 0;
}

.menu-sec ul {
    padding-bottom: 20px;
}

.menu-sec ul li a {
	display: block;
	margin-bottom: 10px;
}

.menu-sec ul li:last-child a {
	margin-bottom: 0;
}

.menu-sec ul li.active > a {
	margin-bottom: 10px;
}

.menu-sec ul li.active > a {
	color: #0060AC;
}

.menu-sec ul li.active ul {
	background: #ECFAFF;
	padding: 15px 0;
	margin: 0px 0 15px 0;
}

.dropdown > a:after {
	content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../image/Down-Arrow.svg) no-repeat center / 100%;
    margin-left: 10px;
    opacity: 0.8;

    -moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.dropdown.active > a:after {
	transform: rotate(-180deg);
}

.mob-logo {
	padding: 15px 0 30px 0;
}

.menu-sec .lg-link {
	padding: 0;
	opacity: 0.7;
}

.menu-sec .lg-link a {
	color: #000000;
	margin: 0;
	font-size: 15px;
}

.menu-sec .lg-link a span {
	width: 24px;
	height: 24px;
	top: 4px;
	margin: 0;
}

.menu-sec .lg-link a .login-icon {
	-moz-filter: brightness(0) invert(0);
	-webkit-filter: brightness(0) invert(0);
	filter: brightness(0) invert(0);
}

.mob {
	display: none;
	text-align: center;
}

.admission-sec .nav-tabs {
	margin-top: 40px;
	border: 0;
}

.admission-sec .nav-tabs>li {
	float: none;
	display: inline-block;
	opacity: 0.5;
}

.admission-sec .nav-tabs>li.active {
	opacity: 1;
}

.admission-sec .nav-tabs>li.active h1:after, .admission-sec .nav-tabs>li.active h1::before {
	content: "";
	top: 100%;
	right: 24%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.admission-sec .nav-tabs>li.active h1:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}

.admission-sec .nav-tabs>li.active h1:before {
	border-color: rgba(255, 0, 0, 0);
	border-top-color: #dadada;
	border-width: 21px;
	margin-left: -21px;
}

.admission-sec .nav-tabs>li h1 {
	margin: 0;
}

.admission-sec .nav-tabs>li a {
    border: 1px solid #dadada !important;
    padding: 10px 40px;
    line-height: normal;
    display: inline-block;
}

.admission-sec .tab-content {
	padding: 50px;
}

.admission-sec .tab-content .tab-pane {
	border: 1px solid #dadada;
	overflow: hidden;
}

.adm-box {
	padding: 40px 60px;
}

.cs-tbl {
	margin: 20px 0;
}

.cs-tbl tr th {
	font-family: 'Cormorant', serif;
	font-style: italic;
}

.cs-tbl tr th,
.cs-tbl tr td {
	padding: 3px 10px;
}

.innovations-nav a {
	display: inline-block;
	color: #000;
	font-size: 21px;
	border-left: none;
    padding-left: 15px;			
}

.innovations-nav a span {
	width: 48px;
	height: 48px;
	margin: -13px 0px 0px 0px;
	background: #ECFAFF url(../image/Down-Arrow.svg) no-repeat center;
	display: inline-block;
	vertical-align: middle;
}

.innovations-nav a span.innovationsnav-left {
	transform: rotate(90deg);
	margin-right: 10px;
}

.innovations-nav a span.innovationsnav-right {
	transform: rotate(270deg);
	margin-left: 10px;
}

.expand-lnk {
    display: inline-block;
}

.expand-lnk span {
	display: block;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.expand-lnk.active span {
	display: block;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.expan-hidden {
	display: none;
}

.expan-hidden.active {
	display: block;
}

.admission-para {
	font-size: 20px;
	padding: 20px;
}